body {
  background-color: #f6eadf;
  background-image: url("../img/bg.jpg");
}

.container {
  background-color: #a56430;
  background-image: url(../img/text.jpg);
}

.isiabout::-webkit-scrollbar {
  width: 12px;
  background-color: rgb(218, 184, 141);
}

.isiabout::-webkit-scrollbar-thumb {
  background-color: #8b5a2b;
  width: 0.1px;
  height: 0.01px;
  border-radius: 999px;
  border: 2px solid #f6eadf;
}

.isiabout::-webkit-scrollbar-thumb:hover {
  background-color: #6f431e;
}

@layer utilities {
  .text-outline {
    -webkit-text-stroke: 0.5px #472309;
  }
}

@layer utilities {
  .text-shadow {
    text-shadow: 2px 2px 6px rgba(141, 91, 21, 0.6);
  }
}

@keyframes wiggle {
  0%,
  100% {
    transform: rotate(0deg) scale(1);
  }
  25% {
    transform: rotate(2deg) scale(1.03);
  }
  50% {
    transform: rotate(-2deg) scale(1.03);
  }
  75% {
    transform: rotate(1deg) scale(1.02);
  }
}

.hover-wiggle:hover {
  animation: wiggle 0.5s ease-in-out;
}

.font-greatvibes {
  font-family: "Great Vibes", cursive;
}

.font-cormorant {
  font-family: "Cormorant", serif;
}

